<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://candlewise.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/07aefd31-1caf-457d-b6f2-a5a9eebf6e17/resourcegroups/CandleWiseResourceGroup/providers/Microsoft.ContainerRegistry/registries/CandleWiseDNS</ContainerResourceId>
    <ContainerResourceName>CandleWiseDNS</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>candlewisedns.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/07aefd31-1caf-457d-b6f2-a5a9eebf6e17/resourceGroups/CandleWiseResourceGroup/providers/Microsoft.ApiManagement/service/CandleWiseAPI/apis/CandleWiseAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/07aefd31-1caf-457d-b6f2-a5a9eebf6e17/resourcegroups/CandleWiseResourceGroup/providers/Microsoft.Web/sites/CandleWise</ResourceId>
    <ResourceGroup>CandleWiseResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://candlewise.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>991798db-5cc6-4c31-8543-b1be54f570d4</ProjectGuid>
  </PropertyGroup>
</Project>